body {
    
    background-color: rgb(203,	235,	240);
    border: double;
    margin: 5px;
    
}
h1 {
    text-align: center;
    font-size: 45px;
    
}

h2 {
    text-align: center;
    font-size: 20px;
}

h3 {
    font-size: 15px;
    margin-left:150px
}

.movieList {
    margin-left:300px;
    font-size: 15px;
}
img {
  margin-left: 165px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}